/* *{
  font-family: 'Aldrich', sans-serif;
}

/* This is content section */
/*
.introduction {
  height: 80vh;
  width: 100%;
  background: url('Background/cool-background.png') no-repeat fixed; 
  background-size: cover;
  pointer-events: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 25px;
}
.intro-header > h1 {
  color: #ffd700;
}
.intro-header > h2 {
  color: white;
}

@media only screen and (min-width: 760px){
  .introduction{
    padding: 0 0 0 70px;
  }
}
@media only screen and (min-width: 1200px){
  
} */
        *{
            padding: 0;
            margin: 0;
        }
        .background {
            background-image: url("/ASSETS/cool-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }