.f-large {
  font-size: calc(1.375rem + 7vw);
}

.f-medium {
  font-size: calc(1.375rem + 4vw);
}

.f-small {
  font-size: calc(1.375rem + 1.5vw);
}

.f-xsmall {
  font-size: calc(1.375rem + 1vw);
}

.isolate {
  isolation: isolate;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.f-midnight {
  color: #1a2238;
}

.f-twilight {
  color: #29375b;
}

.f-orangy {
  color: #ff6a3d !important;
}

.f-purple-light {
  color: #9daaf2;
}

.f-purple-dark {
  color: #838ecf;
}

.f-sandy {
  color: #f4db7d;
}

.font-weight-5 {
  font-weight: 500;
}

.font-weight-4 {
  font-weight: 400;
}

.font-weight-3 {
  font-weight: 300;
}

.p-for-not-nav {
  padding-top: 100px;
}

* {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

#homeParent {
  background-image: url("../ASSETS/background/secondbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#header {
  z-index: 1000;
  margin: 0 !important;
}

#header.b-shadow {
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.233) !important;
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.233) !important;
}

#header nav {
  /* Header > navbar */
}

#header nav .navbar-brand {
  font-size: 2rem;
}

#header nav .navbar-brand .logo {
  height: calc(1.375rem + 1vw);
}

#header nav .nav-item {
  font-size: 1.3rem;
  padding: 0.25em;
  isolation: isolate;
}

#header nav .nav-item .nav-link.f-orangy {
  position: relative;
  isolation: isolate;
  color: currentColor;
}

#header nav .nav-item .nav-link.f-orangy::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: currentColor;
  -webkit-transform: scaleY(0.05);
          transform: scaleY(0.05);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

#header nav .nav-item .nav-link.f-orangy:focus {
  outline: none;
}

#header nav .nav-item .nav-link.f-orangy:focus::before, #header nav .nav-item .nav-link.f-orangy:hover::before {
  -webkit-transform: none;
          transform: none;
}

#header nav .nav-item .nav-link {
  position: relative;
  isolation: isolate;
  color: white;
}

#header nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  background-color: currentColor;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

#header nav .nav-item .nav-link:focus {
  outline: none;
}

#header nav .nav-item .nav-link:focus::before, #header nav .nav-item .nav-link:hover::before {
  -webkit-transform: none;
          transform: none;
}

#header nav #navbarNav.show ul, #header nav #navbarNav.collapsing ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header nav #navbarNav.show ul .nav-item, #header nav #navbarNav.collapsing ul .nav-item {
  width: 30%;
}

#header nav #navbarNav.show ul .nav-item .nav-link, #header nav #navbarNav.collapsing ul .nav-item .nav-link {
  text-align: center;
}

#header.toFixedShow {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #1a2238;
  z-index: 100;
  width: 100vw;
  -webkit-animation-name: slideInShow;
          animation-name: slideInShow;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.82, 0.83, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.82, 0.83, 0.94);
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

#header.toFixedHide {
  top: 0;
  margin-top: 0;
  z-index: 100000;
  width: 100vw;
  -webkit-animation-name: slideOutHide;
          animation-name: slideOutHide;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

#projects {
  background-image: url("../ASSETS/background/wavy1-v2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: scroll;
  background-color: #fffffa;
}

#projects .project-cards {
  z-index: 10;
}

#projects .project-cards .languageList,
#projects .project-cards .frameworkList {
  font-size: 1em;
}

#projects .project-cards .github-project-link-icon {
  height: 15px;
}

.second-wavy {
  background-image: url("../ASSETS/background/wavy2-v1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  height: 100px;
}

#about .about-me {
  min-height: 60vh;
}

#about .profile-img {
  max-width: 100%;
}

#path {
  background-color: #1a2238;
}

#contact {
  background-image: url("../ASSETS/background/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  min-height: 40vh;
  padding: 6vw 0 1vw;
}

#contact .social-table tr,
#contact .contact-table tr {
  height: 40px;
  margin-bottom: 100px;
}

#contact .social-table tr td svg,
#contact .contact-table tr td svg {
  height: 35px;
}

#contact .social-table tr td a,
#contact .contact-table tr td a {
  position: relative;
  padding: 0 10px;
  text-align: left;
}

#contact .social-table tr:hover td > a,
#contact .contact-table tr:hover td > a {
  color: #ff6a3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact .social-table tr:hover td > svg path,
#contact .contact-table tr:hover td > svg path {
  fill: #ff6a3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact .social-table .contact-icons,
#contact .contact-table .contact-icons {
  height: 30px;
}

#contact .contact-link {
  color: white;
  -webkit-text-decoration: #ff6a3d;
          text-decoration: #ff6a3d;
  -webkit-text-decoration-line: blink;
          text-decoration-line: blink;
}

@-webkit-keyframes slideOutHide {
  0% {
    position: fixed;
    background-color: #1a2238;
    z-index: 1000;
  }
  50% {
    opacity: 0.5;
    background-color: transparent;
    top: -100px;
    position: static;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOutHide {
  0% {
    position: fixed;
    background-color: #1a2238;
    z-index: 1000;
  }
  50% {
    opacity: 0.5;
    background-color: transparent;
    top: -100px;
    position: static;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInShow {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes slideInShow {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

[class*=" imghvr-"] figcaption,
[class^="imghvr-"] figcaption {
  background-color: #1a2238e0;
}

figure.imghvr-reveal-up::before {
  background-color: #29375b9f;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  z-index: 50;
  height: auto;
  margin: 0 10px;
}

.slick-slide div {
  height: 100%;
}

.slick-dots li.slick-active button:before {
  color: #ff6a3d;
}

.slick-dots li button::before {
  color: white;
}
/*# sourceMappingURL=portfolio.css.map */