/* Colors */
/* padding for content not to be covered with navbar */
/* Universal Class */
.f-large {
  font-size: calc(1.375rem + 7vw);
}

.f-medium {
  font-size: calc(1.375rem+4vw);
}

.isolate {
  isolation: isolate;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.f-midnight {
  color: #1a2238;
}

.f-twilight {
  color: #29375b;
}

.f-orangy {
  color: #ff6a3d;
}

.f-purple-light {
  color: #9daaf2;
}

.f-purple-dark {
  color: #838ecf;
}

.f-sandy {
  color: #f4db7d;
}

* {
  font-family: "Ubuntu Medium", sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

body {
  scrollbar-color: black;
}

/* Third Div */
.project-text {
  pointer-events: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

figcaption a {
  height: 100%;
}

figcaption a img {
  width: 20px;
}

@-webkit-keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

#homeParent {
  background-image: url("/ASSETS/secondbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Header */
#header nav {
  /* Header > navbar */
}

#header nav .navbar-brand {
  font-size: 2rem;
}

#header nav .navbar-brand span {
  color: #ff6a3d;
}

#header nav .nav-item {
  font-size: 1.3rem;
}

/* Header welcome */
#welcome {
  /* Text Section */
}

#path {
  background-color: #1a2238;
}

.first-wavy {
  background-image: url("/ASSETS/SVG/wavy-v1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
  height: 100px;
}

#projects {
  isolation: isolate;
  background-color: #fffffa;
}

#projects div.card {
  background-color: transparent;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.18);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.18);
}

#projects div.card div.card-body .card-title {
  color: #1a2238;
}

#projects div.card div.card-body .card-text {
  color: #29375b;
}

#projects div.card div.card-body .frameworkList small,
#projects div.card div.card-body .languageList small {
  color: #ff6a3d !important;
}

.second-wavy {
  background-image: url("/ASSETS/SVG/wavy2-v1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  height: 100px;
}

#about .about-me {
  height: 60vh;
}

#about .profile-img {
  max-width: 100%;
}

#contact {
  background-image: url("/ASSETS/SVG/Asset 1_1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
  min-height: 30vh;
  padding: 8rem 5rem 1rem;
}

#contact .social-table tr {
  height: 40px;
}

#contact .social-table tr td a {
  position: relative;
  padding: 0 10px;
  text-align: left;
}

#contact .social-table tr td a:hover {
  color: #ff6a3d;
}

#contact .social-table .contact-icons {
  height: 30px;
}

#contact .contact-table tr {
  height: 40px;
}

#contact .contact-table tr td {
  padding: 0 10px;
}

#contact .contact-table .contact-icons {
  width: 20px;
}

#contact .contact-link {
  color: white;
  -webkit-text-decoration: #ff6a3d;
          text-decoration: #ff6a3d;
  -webkit-text-decoration-line: blink;
          text-decoration-line: blink;
}
/*# sourceMappingURL=portfolio.css.map */