/* Colors */
/* padding for content not to be covered with navbar */
/* Universal Class */
.f-large {
  font-size: 6rem;
}

.f-medium {
  font-size: 3rem;
}

.f-small {
  font-size: 2rem;
}

.f-xsmall {
  font-size: 1.4rem;
}

.isolate {
  isolation: isolate;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.f-midnight {
  color: #1a2238;
}

.f-twilight {
  color: #29375b;
}

.f-orangy {
  color: #ff6a3d;
}

* {
  font-family: "Ubuntu Medium", sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

body {
  scrollbar-color: black;
}

.profile {
  width: 400px;
}

.visibilityHidden {
  visibility: hidden;
}

/* Second Div */
/* Third Div */
#projects {
  padding-top: 90px;
}

/* Third Div */
.project-text {
  pointer-events: none;
  transition: 0.1s;
}

figcaption a {
  height: 100%;
}

figcaption a img {
  width: 20px;
}

/*  for sm */
@media screen and (max-width: 570px) {
  .greeting {
    width: 100%;
    height: 100px;
    align-self: center;
  }

  .text, .text-hightlight {
    text-align: center;
  }

  #navbarContents {
    position: absolute;
    top: 100%;
  }
}
@keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.animate__animated.animate__bounce {
  animation-delay: 0s;
  animation-duration: 100ms;
}

/* Header */
#header a.navbar-brand {
  color: #ff6a3d;
}
#header nav {
  /* Header > navbar */
}
#header nav .active {
  color: var(--t-active) !important;
}
#header nav .navbar-brand {
  font-size: 1.8rem;
}
#header nav .nav-link {
  font-size: 1.2rem;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/ASSETS/secondbackground.svg");
  background-attachment: fixed;
}

/* Header welcome */
#welcome {
  /* Text Section */
}
#welcome p.f-small {
  color: #bababa;
}
#welcome p.f-large {
  color: #9daaf2;
}
#welcome p.f-medium {
  color: #9daaf2;
}
#path {
  background-color: #1a2238;
}
#path div.col-12 p.f-medium {
  color: #f4db7d;
}
#path div.col-12 blockquote, #path div.col-12 blockquote + p > em {
  color: #9daaf2;
}
#projects {
  isolation: isolate;
  background-color: #fffffa;
}
#projects div.row.mb-3 p.f-medium {
  color: #ff6a3d;
}
#projects div.row.mb-3 p.f-xsmall {
  color: #29375b;
}
#projects div.card {
  background-color: transparent;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.18);
}
#projects div.card div.card-body .card-title {
  color: #1a2238;
}
#projects div.card div.card-body .card-text {
  color: #29375b;
}
#projects div.card div.card-body .frameworkList small, #projects div.card div.card-body .languageList small {
  color: #ff6a3d !important;
}

#about .about-me {
  height: 60vh;
}
#about .profile-img {
  max-width: 100%;
}

#contact {
  height: 50vh;
  padding: 5rem;
  background-image: url("/ASSETS/SVG/Asset 1_1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#contact .contact-icons {
  height: 30px;
}
#contact .social div {
  vertical-align: text-bottom;
}

/*# sourceMappingURL=portfolio.css.map */
