$transparency-for-me: rgba(95, 95, 95, 0.342);
$golden: #daa520;
$t-shadow: 0 1px 2px #1a1e21;
$b-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.18);

/* Colors */
$midnight: #1a2238;
$twilight: #29375b;
$purple-light: #9daaf2;
$purple-dark: #838ecf;
$orangy: #ff6a3d;
$sandy: #f4db7d;
$primary-bg-color: #1a2238;

/* padding for content not to be covered with navbar */
$p-for-not-nav: 70px;

/* Universal Class */
.f-large {
  font-size: 6rem;
}

.f-medium {
  font-size: 3rem;
}

.f-small {
  font-size: 2rem;
}

.f-xsmall {
  font-size: 1.4rem;
}

.isolate {
  isolation: isolate;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.f-midnight {
  color: $midnight;
}

.f-twilight {
  color: $twilight;
}

.f-orangy {
  color: $orangy;
}

// Background function
@mixin backgroundImage($url, $size, $position, $attachment: scroll) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
  background-attachment: $attachment;
}

* {
  font-family: "Ubuntu Medium", sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

body {
  scrollbar-color: black;
}


/* Third Div */
.project-text {
  pointer-events: none;
  transition: 0.1s;
}

figcaption a {
  height: 100%;
}

figcaption a img {
  width: 20px;
}



@keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/* Header */
#header {
  nav {
    /* Header > navbar */
    .navbar-brand {
      span {
        color: $orangy;
      }
    }

    .active {
      color: var(--t-active) !important;
    }

    .navbar-brand {
      font-size: 1.8rem;
    }

    .nav-link {
      font-size: 1.2rem;
    }
  }
}

// Section combination of nav bar and welcome
#homeParent {
  @include backgroundImage("/ASSETS/secondbackground.svg", cover, center, fixed);
}

/* Header welcome */
#welcome {
  /* Text Section */

  p.f-large {
    color: $purple-light;

    span {
    }
  }

  p.f-medium {
    color: $purple-light;

    span {
    }
  }
}

// Path
#path {
  background-color: $primary-bg-color;

  div.col-12 {
    p.f-medium {
      color: $sandy;
    }

    blockquote,
    blockquote + p > em {
      color: $purple-light;
    }
  }
}

.first-wavy {
  @include backgroundImage("/ASSETS/SVG/wavy-v1.svg", cover, bottom);
  height: 100px;
}

// Projects
#projects {
  isolation: isolate;
  background-color: #fffffa;

  .project-intro {
  }

  // project cards
  div.card {
    background-color: transparent;
    box-shadow: $b-shadow;

    div.card-body {
      .card-title {
        color: $midnight;
      }

      .card-text {
        color: $twilight;
      }

      .frameworkList,
      .languageList {
        small {
          color: $orangy !important;
        }
      }
    }
  }
}

.second-wavy {
  @include backgroundImage("/ASSETS/SVG/wavy2-v1.svg", cover, top);
  height: 100px;
}

#about {
  .about-me {
    height: 60vh;
  }

  .about-text {
  }

  .about-img {
  }

  .profile-img {
    max-width: 100%;
  }
}

#contact {
  @include backgroundImage("/ASSETS/SVG/Asset 1_1.svg", 100%, center);
  min-height: 30vh;
  padding: 8rem 5rem 1rem;

  .social-table {
    tr {
      height: 40px;
      td {
        a {
          position: relative;
          padding: 0 10px;
          text-align: left;

          &:hover {
            color: $orangy;
          }
        }
      }
    }
    .contact-icons {
      height: 30px;
    }
  }
  .contact-table {
    tr {
      height: 40px;

      td {
        padding: 0 10px;
      }
    }
    .contact-icons {
      width: 20px;
    }
  }
  .contact-link {
    color: white;
    text-decoration: $orangy;
    text-decoration-line: blink;
  }
}
