$transparency-for-me: rgba(95, 95, 95, 0.342);
$golden: #daa520;
$t-second: #bababa;
$t-active: #e6e6e6;
$t-third: #ddd;
$t-shadow: 0 1px 2px #1a1e21;
$b-shadow: 0 1rem 2rem rgba(0,0,0,.18);

/* Colors */
$midnight: #1a2238;
$twilight: #29375b;
$purple-light: #9daaf2;
$purple-dark: #838ecf;
$orangy: #ff6a3d;
$sandy: #f4db7d;
$primary-bg-color: #1a2238;

/* padding for content not to be covered with navbar */
$p-for-not-nav: 70px;

/* Universal Class */
.f-large {
  font-size: 6rem;
}

.f-medium {
  font-size: 3rem;
}

.f-small {
  font-size: 2rem;
}

.f-xsmall {
  font-size: 1.4rem;
}

.isolate {
  isolation: isolate;
}

.mix-blend-multiply {
  mix-blend-mode: difference;
}

* {
  font-family: 'Aldrich', sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

body {
  scrollbar-color: black;
}


.profile {
  width: 400px;
}

.visibilityHidden {
  visibility: hidden;
}

#navbarContents {
}

/* Second Div */


/* Third Div */
#projects {
  padding-top: 90px;
}

/* Third Div */
.project-text {
  pointer-events: none;
  transition: 0.1s;
}

figcaption a {
  height: 100%;
}

figcaption a img {
  width: 20px;
}

/*  for sm */
@media screen and (max-width: 570px) {
  .greeting {
    width: 100%;
    height: 100px;
    align-self: center;
  }
  .text, .text-hightlight {
    text-align: center;
  }
  #navbarContents {
    position: absolute;
    top: 100%;
  }
}

.showNavBar {
}

@keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.animate__animated.animate__bounce {
  animation-delay: 0s;
  animation-duration: 100ms;
}


/* Header */
#header {
  a.navbar-brand {
    color: $sandy;
  }

  nav {
    /* Header > navbar */
    .active {
      color: var(--t-active) !important;
    }

    .navbar-brand {
      font-size: 1.8rem;
    }

    .nav-link {
      font-size: 1.2rem;
    }
  }
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/ASSETS/secondbackground.svg");
  background-attachment: fixed;
}


/* Header welcome */
#welcome {
  /* Text Section */
  p.f-small {
    color: $t-second;
  }

  p.f-large {
    span {
      color: $sandy;
    }
  }

  p.f-medium {
    color: $purple-light;
    mix-blend-mode: difference;
    span{
      color: $orangy;
      mix-blend-mode: difference;
    }
  }
}

// Path
#path {
  background-color: $primary-bg-color;

  // Road map img
  .roadmap-lg {
  }

  .roadmap-sm {

  }
}

// Projects
#projects {
  isolation: isolate;
  background-color:#fffffa;
  div.row.mb-3 {
    p.f-medium {
      color: $orangy;
    }

    p.f-xsmall{
    color: $twilight;
    }



  }
// project cards
  div.card {
    background-color: transparent;
    box-shadow: $b-shadow;
    div.card-body{
      .card-title{
        color: $midnight;
      }
      .card-text{
        color: $twilight;
      }
      .frameworkList, .languageList{
        small{
          color: $orangy !important;
        }
      }
    }
  }
}

