$transparency-for-me: rgba(95, 95, 95, 0.342);
$golden: #daa520;
$t-second: #bababa;
$t-active: #e6e6e6;
$t-third: #ddd;
$t-shadow: 0 1px 2px #1a1e21;

/* Colors */
$blacky: #1a2238;
$purple-light: #9daaf2;
$orangy: #ff6a3d;
$sandy: #f4db7d;

/* padding for content not to be covered with navbar */
$p-for-not-nav: 200px;

/* Universal Class */
.f-large {
  font-size: 6rem;
}

.f-medium {
  font-size: 3rem;
}

.f-small {
  font-size: 2rem;
}

.f-xsmall {
  font-size: 1.4rem;
}
.isolate{
  isolation: isolate;
}
.mix-blend-multiply{
  mix-blend-mode: difference;
}

* {
  font-family: 'Aldrich', sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
  background: #1a2238;
}

body {
  scrollbar-color: black;
  background-color: #1a2238;
}


.profile {
  width: 400px;
}

.visibilityHidden {
  visibility: hidden;
}

#navbarContents {
}

/* Second Div */


/* Third Div */
#projects {
  padding-top: 90px;
}

/* Third Div */
.project-text {
  pointer-events: none;
  transition: 0.1s;
}

figcaption a {
  height: 100%;
}

figcaption a img {
  width: 20px;
}

/*  for sm */
@media screen and (max-width: 570px) {
  .greeting {
    width: 100%;
    height: 100px;
    align-self: center;
  }
  .text, .text-hightlight {
    text-align: center;
  }
  #navbarContents {
    position: absolute;
    top: 100%;
  }
}

.showNavBar {
}

@keyframes showNavBarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.animate__animated.animate__bounce {
  animation-delay: 0s;
  animation-duration: 100ms;
}


/* Header */
#header {
  a.navbar-brand {
    color: $sandy;
  }
  nav{
    /* Header > navbar */
    .active {
      color: var(--t-active) !important;
    }

    .navbar-brand {
      font-size: 1.8rem;
    }

    .nav-link {
      font-size: 1.2rem;
    }
  }
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/ASSETS/secondbackground.svg");
  background-attachment: fixed;
}


/* Header welcome */
#welcome {
  /* Text Section */
  p.f-small {
    color: $t-second;
  }

  p.f-large {
    span {
      color: $sandy;
    }
  }

  p.f-medium {
    color: white;
  }
}

// Path
#path{


  // Road map img
  .roadmap-lg{
  }
  .roadmap-sm{

  }
}


