*{
  color: white;
  box-sizing: border-box;
}
.content {
background: #1a1919;
height: auto;
width: auto;
padding: 20px 70px;
}
/* This is project section */
.project-content {
  height: 100px;
  width: 100%;
  
}
.project-header{
  color: goldenrod;
  margin: 10px 10px 10px 0;
}