* {
  font-family: 'Aldrich'; 
  box-sizing: border-box;
  color: rgb(230, 214, 214);
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
}
a{
  color: rgb(206, 206, 206);
}
a:hover{
  color: #211a44;
}

header{
height: 100px;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 25px;
}
.header-title{
  color: goldenrod;
  pointer-events: none;
}

#open-menu, #close-menu{
  font-size: 30px;
  transition: 0.7s;
  color:rgb(206, 206, 206)
}
#close-menu{
  display: none;
  margin: 40px 25px;
  position: fixed;
  top: 0px;
  right: 0px;
}
#open-menu:hover, #close-menu:hover{
  cursor: pointer;
}
#sideNav{
  right: 0;
  top: 0;
  position: fixed;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.877);
  transition: 0.7s;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.sideNav-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.sideNav-content a {
  text-decoration: none;
  margin: 30px auto;
  display: block;
  font-size: x-large;
}
footer {
  height: 140px;
  background-color: black;  
}
.footer-link {
  float: right;
  margin: 10px 30px;
}
.footer-link > ul >li {
  padding: 10px 20px;
}

@media only screen and (min-width: 760px){
  header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    flex-flow: row nowrap;
    padding: 15px 50px;
  }
  .header-title{
  }
  #open-menu, #close-menu{
    display: none;
  }
  .footer-link{
    margin: 10px 50px;
  }
  #sideNav {
    display: block;
    width: auto;
    background: none;
    float: right;
    position: relative;
    padding: 20px 0 20px 20px;
    justify-self: flex-end;
  }
  .sideNav-content{
    padding-top: 5px;
    padding-left: 0;
    float: right;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .sideNav-content a{
    display: inline;
    margin: 0 10px;
  }
}
@media only screen and (min-width: 1200px){
  header{
    padding: 25px 70px;
    height: 120px;
  }
  footer{
    height: 160px;
    padding: 10px 70px;
  }
}
