/* This is content section */
.content {
  height: 600px;
  background-image: url('cool-background.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  pointer-events: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.introduction {
  float: left;
  padding: 25px;
}
.intro-header > h1 {
  color: gold;
}
.intro-header > h2 {
  color: white;
}
@media only screen and (min-width: 750px){
  .introduction{
    margin: 200px 70px 0;
  }
  .content {
    background-attachment: fixed;
  }
}